<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Administration</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="http://purecss.io/combo/1.18.13?/css/layouts/side-menu.css">
    <script src="http://purecss.io/combo/1.18.13?/js/ui.js"></script>
  </head>
  <style>
      .pure-menu-heading {
        text-transform: initial !important;
      }
      .header {
        margin-bottom: 2em
      }
  </style>
  <body>
      <div id="layout">
        {% include "menu.html" %}

        <div id="main">
            <div class="header">
                <h2>{% block header %}Subtitle{% endblock %}</h2>
            </div>
            <div class="pure-u-1-24"></div>
            {% block content %}{% endblock %}
        </div>
    </div>
  </body>
</html>